<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.gamedoanchu">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Gamedoanchu">
        <activity
            android:name=".Doanchu.Choi_sieu_toc"
            android:exported="false" />
        <activity
            android:name=".Doanchu.dhbc_sieutoc"
            android:exported="false" />
        <activity
            android:name=".Doanchu.Activity"
            android:exported="false" />
        <activity
            android:name=".Draw.Display"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".Draw.MainActivity_vehinh"
            android:exported="false" />
        <activity android:name=".Doanchu.Choigame" />
        <activity
            android:name=".Doanchu.MainActivity"
            android:exported="true"
            android:theme="@style/Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>